<h1><%=@user.name%></h1>
<form action="">
    <button type="submit" formaction="/freetimes/new">Create New Freetime</button>
    <button type="submit" formaction='/users/<%=@user.id%>/edit'>Update Profile</button>
    <button type="submit" formaction='/logout'>Logout</button>
</form>
<br><br>

<hr>
<h2>My Availability:</h2>
<%@user.freetimes.each do |ft|%>
Start: <%=ft.start.strftime("%B, %d %I:%M %p")%> <br>
End: <%=ft.end.strftime("%B, %d %I:%M %p")%> <br>
<%end%>
<hr>
<a href="/users">Users List</a>