<h1>Update User Info</h1>
<h3 style="text-align: center"><em>Information changed in fields will be updated</em></h3>

<form action="/users/<%=@user.id%>" method="post">
    <input type="hidden" name="_method" value="patch" id="hidden">
    Update Your Name: <input type="text" name="user[name]" id="name_field" value="<%=@user.name%>"><br>
    Update Your Email: <input type="email" name="user[email]" id="email_field" value="<%=@user.email%>"><br>
    Update Password: <input type="password" name="user[password]" id="password_field"><br>
    <input type="submit" value="Update">
</form>

<br><br>
<form action="/users/<%=@user.id%>/delete" method="post">
    <input type="hidden" name="_method" id="hidden" value="delete">
    <input type="submit" value="Delete Profile">
</form>

<a href="/users/account">Cancel</a>
