<header>
    <form action="/" method="get" id="profile_button"><input type="submit" value="My Profile"></form>
    <h1>Social Sync Users</h1>
</header>

<%@users.each do |user|%>
    <div>
        <a href="/users/<%=user.id%>"><%=user.name%></a> &nbsp; - &nbsp;
        <form action="/friendships" method="post" style="display: inline;">
            <input type="hidden" name="friend" value="<%=user.id%>" id="friend_id">
            <input type="submit" value="Add Friend">
        </form>
    </div>
<%end%>
