<h1>Complete this form to create an account</h1>

<form action="/users" method="post">
Enter Your Name: <input type="text" name="user[name]" id="name_field"><br>
Enter Your Email: <input type="email" name="user[email]" id="email_field"><br>
Create a Password: <input type="password" name="user[password]" id="password_field"><br>
<br><br>
<input type="submit" value="Join">
</form>

