<header>
    <form action="/" method="get" id="profile_button"><input type="submit" value="My Profile"></form>
    <h1>Edit this availability</h1>
</header>

<div class="form_wrapper">
    <div class="form_fields">
        <form action="/freetimes/<%=@freetime.id%>" method="post">
            <input type="hidden" name="_method" value="patch" id="hidden">
            Enter the beginning of your availability: <input type="datetime-local" name="freetime[start]" id="start_time" value="<%=@freetime.start.localtime.to_s.gsub(" ","T").gsub(/T-.*/,"")%>"> <br>
            Enter the end of your availability: <input type="datetime-local" name="freetime[end]" id="end_time" value="<%=@freetime.end.localtime.to_s.gsub(" ","T").gsub(/T-.*/,"")%>"> <br>
            <br><br>
            <input type="submit" value="Update Free Time">
        </form>
         <form action="/freetimes/<%=@freetime.id%>/delete" method="post">
            <input type="hidden" name="_method" id="hidden" value="delete">
            <input type="submit" value="Delete Availability">
        </form>
    </div>
</div>

<a href="/users/account">Cancel</a>