<header>
    <h1>New Freetime</h1>
</header>

<form action="/freetimes" method="post">
    Enter the beginning of your availability: <input type="datetime-local" name="freetime[start]" id="start_time"> <br>
    Enter the end of your availability: <input type="datetime-local" name="freetime[end]" id="end_time"> <br>
    <br><br>
    <input type="submit" value="Create Free Time">
</form>

<a href="/users/account">Cancel</a>
