<h1>Welcome to Social Sync!</h1>

<div class="welcome_text">Create An Account or Login <br></div>
<br>

<div class="welcome_form">
    <form action="" method="">
        <div class="form_fields">
            <input type="text" name="user[email]" id="email_field" placeholder="Email"><br>
            <input type="password" name="user[password]" id="password_field" placeholder="Password"><br>
        </div>
        <br>
        <div class="form_buttons">
            <input type="submit" value="Log In" formaction="/login" formmethod="get">
            <input type="submit" value="Create an Account" formaction="/users/new" formmethod="get">
        </div>
    </form>
</div>
