<h1>Welcome to Social Sync!</h1>

Create An Account or Login <br>
<br>
<form action="" method="">
    <input type="text" name="user[email]" id="email_field" placeholder="Email"><br>
    <input type="password" name="user[password]" id="password_field" placeholder="Password"><br>
    <br>
    <input type="submit" value="Log In" formaction="/login" formmethod="get">
    <input type="submit" value="Create an Account" formaction="/users/new" formmethod="get">
</form>
